extends layout
block content
	.container-fluid.bg-primary.product-list.case
		.container
			.row
				.col-md-12.case-play
					.navbar.case-margin-bottom
						.container-fluid
							.collapse.navbar-collapse
								form.navbar-form.navbar-right.searchModle
									.form-group
										input(type="text" placeholder="Search").search
										span.glyphicon.glyphicon-search
				.col-md-6.caseWebList
					a(href="javascript:;")
						span.text-center
							input(type="button" value="查看网站").btn.btn-primary
							input(type="button" value="购买网站").btn.btn-primary.col-xs-offset-1
						img(src="imgs/1459819778.png").img-responsive.center-block
				.col-md-6.caseWebList
					a(href="javascript:;")
						span.text-center
							input(type="button" value="查看网站").btn.btn-primary
							input(type="button" value="购买网站").btn.btn-primary.col-xs-offset-1
						img(src="imgs/1464855440.png").img-responsive.center-block
				.col-md-6.caseWebList
					a(href="javascript:;")
						span.text-center
							input(type="button" value="查看网站").btn.btn-primary
							input(type="button" value="购买网站").btn.btn-primary.col-xs-offset-1
						img(src="imgs/1459819778.png").img-responsive.center-block
				.col-md-6.caseWebList
					a(href="javascript:;")
						span.text-center
							input(type="button" value="查看网站").btn.btn-primary
							input(type="button" value="购买网站").btn.btn-primary.col-xs-offset-1
						img(src="imgs/1464855440.png").img-responsive.center-block
				.col-md-6.caseWebList
					a(href="javascript:;")
						span.text-center
							input(type="button" value="查看网站").btn.btn-primary
							input(type="button" value="购买网站").btn.btn-primary.col-xs-offset-1
						img(src="imgs/1459819778.png").img-responsive.center-block
				.col-md-6.caseWebList
					a(href="javascript:;")
						span.text-center
							input(type="button" value="查看网站").btn.btn-primary
							input(type="button" value="购买网站").btn.btn-primary.col-xs-offset-1
						img(src="imgs/1464855440.png").img-responsive.center-block
				.col-md-6.caseWebList
					a(href="javascript:;")
						span.text-center
							input(type="button" value="查看网站").btn.btn-primary
							input(type="button" value="购买网站").btn.btn-primary.col-xs-offset-1
						img(src="imgs/1459819778.png").img-responsive.center-block
				.col-md-6.caseWebList
					a(href="javascript:;")
						span.text-center
							input(type="button" value="查看网站").btn.btn-primary
							input(type="button" value="购买网站").btn.btn-primary.col-xs-offset-1
						img(src="imgs/1464855440.png").img-responsive.center-block
				.col-md-6.caseWebList
					a(href="javascript:;")
						span.text-center
							input(type="button" value="查看网站").btn.btn-primary
							input(type="button" value="购买网站").btn.btn-primary.col-xs-offset-1
						img(src="imgs/1459819778.png").img-responsive.center-block
				.col-md-6.caseWebList
					a(href="javascript:;")
						span.text-center
							input(type="button" value="查看网站").btn.btn-primary
							input(type="button" value="购买网站").btn.btn-primary.col-xs-offset-1
						img(src="imgs/1464855440.png").img-responsive.center-block
	.container-fluid.page-num
		.container
			.row
				.col-xs-12.text-center
					#page
					p 没有找到合适的网站模版？
					a(href="javascript:;").btn.btn-primary.btn-lg 网站定制
	//- footer信息
	include footer