.container-fluid.footer.footer-menu
		.container.text-center
			.row
				.col-xs-2
					h4 产品
					ul
						li
							a(href="#") MetInfo
						li
							a(href="#") 功能全览
						li
							a(href="#") 免费下载
						li
							a(href="#") 使用协议
				.col-xs-2
					h4 服务
					ul
						li
							a(href="#") 商业授权
						li
							a(href="#") 推荐主机
						li
							a(href="#") 建站套餐
						li
							a(href="#") 网站定制
				.col-xs-2
					h4 支持
					ul
						li
							a(href="#") 帮助中心
						li
							a(href="#") 交流社区
						li
							a(href="#") 模版制作教程
						li
							a(href="#") 二次开发教程
				.col-xs-2
					h4 关于
					ul
						li
							a(href="#") 了解米拓
						li
							a(href="#") 联系我们
						li
							a(href="#") 咨询动态
						li
							a(href="#") 建站知识
				.col-xs-4
					strong 400 0021 031
					p 周一至周六 09:00 - 18:00
					a(href="/").btn.btn-default 关注微信
.container-fluid.footer.text-center.footer-text
		.container
			.row
				span 友情链接:/
				a(href="#") 企业网站管理系统
				b /
				a(href="#") 企业建站系统
				b /
				a(href="#") 外贸料网
				b /
				a(href="#") 58同城
				b /
				a(href="#") 企业信息化
				b /
				a(href="#") cnzz源码下载
				b /
				a(href="#") 站长团购
				b /
				a(href="#") CAD
				b /
				a(href="#") 53快服
				b /
				a(href="#") 景安服务器托管
				b /
				a(href="#") 在线免费制作APP
				b /
				a(href="#") 思维导图
				b /
				a(href="#") bartender教程
				b /
				a(href="#") 磁盘读写工具
				b /
				a(href="#") 视频剪辑软件
				b /
				a(href="#") 浏览器
				b /
				a(href="#") 数据恢复软件
				b /
				a(href="#") OA
				b /
				a(href="#") 企业微信
.container-fluid.footer.text-center.footer-text
		.container
			.row
				p &copy; 米拓 湘 IPC 备
					a(href="javascript:;" style="color:#6367C0") 07500799 号 - 5
				p Powered by
					a(href="javascript:;" style="color:#6367C0") MetInfo
